/* static/css/main.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: #fff;
  }

  header div {
    display: flex;
    justify-content: flex-start;
    text-shadow: 3px 4px 5px  rgb(255, 0, 153);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 2%;
    top: 1%;
    z-index: -1;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  nav a {
    background-color: #ff009d; /* средне-синий цвет для hover */
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
    border-radius: 15px; /* Закругление углов кнопки */
  }
  nav a:hover {
    background-color: #45a049;
    border-radius: 15px; /* Закругление углов кнопки */
  }
  main {
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
  }
  
  /* Дополнительные стили для фонового изображения */
  body {
    background: url('/static/edit.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  main h1 {
    color: #ff009d;
    font-size: 500%; /* изменено: размер текста увеличен */
    margin-bottom: 40px; /* добавлено: отступ снизу */
    text-shadow: 3px 4px 5px  rgb(255, 255, 255);/* добавлено: тень текста */
  }
  
  main h2 {
    color: #ffffff;
    font-size: 200%; /* изменено: размер текста увеличен */
    margin-bottom: 40px; /* добавлено: отступ снизу */
    text-shadow: 3px 4px 5px  rgb(249, 0, 162);/* добавлено: тень текста */
  }
  
  form {
    margin-top: 100px;
    font-size: 250%;
    color: #ffffff;
    text-align: center;
    
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  
  button {
    background-color: #ff009d;
    color: white;
    padding: 15px 30px; /* Увеличил размер кнопки */
    border: none;
    border-radius: 15px; /* Закругление углов кнопки */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    z-index: 11;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 2%;
    right: 1%;
    left: 0;
    z-index: 10;
  }

  .anketa-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.anketa {
    width: 30%; /* Ширина блока анкеты, чтобы влезало три блока на одной строке */
    margin: 10px; /* Внешний отступ между блоками */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.anketa img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Для круглого изображения */
}

